/**
*INI UNTUK DESAIN DI NAVBAR DAN SIDEBAR
**/



.textNav {
   font-family: 'Itim';font-size: 25px;
}

 .navbar-default {
    background-color: #0f006f;
    
}

/*.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-text {
    color: rgba(255, 255, 255, .75);
}*/
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255, 255, 255);
    top: 0; /* Stay on top */
    width: 100%; /* Full width */
    transition: top 0.3s; /* Transition effect when sliding down (and up) */

}

.sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc(100vh - 56px);
    transition: all 0.3s;
}
.sidebar ul li a {
    display: block;
    padding: .75rem 1rem;
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}
.sidebar ul li a:hover, .sidebar ul .active a {
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 0, 0, .25);
}
.sidebar ul ul a {
    padding-left: 2.5rem;
    background: rgba(0, 0, 0, .25);
}
.sidebar [data-toggle="collapse"] {
    position: relative;
}
.sidebar [data-toggle="collapse"]:before {
    content: "\f0d7";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 1rem;
}
.sidebar [aria-expanded="true"] {
    background: rgba(0, 0, 0, .25);
}
.sidebar [aria-expanded="true"]:before {
    content: "\f0d8";
}
.sidebar.toggled {
    margin-left: -250px;

}

.bg-company-red {
    background-color: #53b1ff;
}
/**
*ini untuk isi content
**/

.logos{
    height: 30px;
    padding-right: 10px;
}

.icons-nav{
    height: 35px;
    padding-right: 10px;
    filter: invert(100%);
}
.carousel-inner > .item > img{
 width: 100%;
 height: auto;
 display: block;
}

.content {
    width: 100%;
}

.display-5 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.imageOne{
    width: 25%;
    margin: 10% auto 0;
    display: block;
    border-radius: 100%;
    float:left;
    padding-bottom: 30px;
}

@media (max-width: 768px) {
    .sidebar {
        margin-left: -250px;
    }
    .sidebar.toggled {
        margin-left: 0;
    }
}

.topnav {
  overflow: hidden;
  float :right;


}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
  border-right: 0;
  
}

.topnav input[type=text] {
  padding: 3px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  border-right: 0;
}

.topnav .search-container button {
  float: right;
  padding: 3px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}img {
  max-width: 100%;
  height: auto;
  border: none;
}


/* add-ons */


/* clearfix */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}


/* inline block */

.ib {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: top;
}


/* ul-reset */

.ul-reset {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}


/* table reset */

.table-reset {
  display: block;
  width: auto;
  height: auto;
  padding: 0;
  border: none;
  margin: 0;
  border-collapse: inherit;
  border-spacing: 0;
  border-color: inherit;
  vertical-align: inherit;
  text-align: left;
  font-weight: inherit;
  -webkit-border-horizontal-spacing: 0;
  -webkit-border-vertical-spacing: 0;
}


/* vertical align snippet */

.va-cont {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
}

.va-inn {
  display: table-cell;
  vertical-align: middle;
}


/* font awesome */

/* global classes */


/* wrapper */

.wrapper {
  width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

/* title */
.title {
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
}

.main-inner {
  margin-top: 40px;
  background-color: white;
}


/* product list */

.product-list {
  padding-bottom: 10px;
  font-size: 0;
}

.product-item {
  position: relative;
  width: 220px;
  margin-top: 10px;
  margin-left: 20px;
  font-size: 1rem;
}

.product-item-inner {
  padding: 10px;
}

.product-item:hover .product-item-inner {
  position: absolute;
  z-index: 2;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
  background-color: white;
}

.product-item:hover .product-item-lower {
  display: block;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  color: white;
  text-align: center;

  width: 100%;
  line-height: 3em;
  background-color: turquoise;
  font-family: 'Open Sans';
  font-size: 14px;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.product-item:nth-child(4n+1) {
  margin-left: 0;
}
.main-inner {
  margin-top: 40px;
  background-color: white;
}
.product-item-image {
  height: 200px;
  margin-bottom: 10px;
  background-color: #ea681b;
}

.product-item-image img {
  vertical-align: top;
}

.product-item-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1em;
}

.product-item-lower {
  display: none;
  margin-top: 10px;
  background-color: white;
}

.product-item-short-description {
  margin-bottom: 10px;
}

.product-item-add-to-cart {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #55dc8b;
  color: white;
}

.product-item-add-to-cart:hover {
  opacity: .75;
}


.product-item:before {
    content: " ";
    width: 1px;
    margin-left: -1px;
    display: block;
    float: left;
    padding-bottom: 100%;
}

